html {
    height: 100%;
}
body {
    background-color: #add8e6;
    min-height: 100%;
}
header {
    min-height: 100px;
    font-size: 30px;
    font-weight: bold;
}
header ul {
    font-weight: normal;
    font-size: 0.5em;
}
nav {
    min-height: 70px;
    font-size: 20px;
    font-weight: bold;
}
section {
    height: 50%;
}
.italic {
    font-style: italic;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}
span {
    line-height: 50%;
    padding-left: 2.4em;
}
.bold {
    font-weight: bold;
}
.thin {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: -33px;
    font-size: 0.9em;
}
img {
    border: 1px solid;
    max-width: 120px;
}