
div#wrapper {
    width: 600px;
    margin:  0 auto;
    font-size: 25px;
}
span.red {
    color: red;
    font-size: 25px;
}
span.blue {
    color: blue;
    font-size: 25px;
}
textarea {
    width: 350px;
    height: 100px;
    resize: none;
    display: block;
}
input[type=submit] {
    width: 100px;
    height: 30px;
    font-size: 20px;
    margin: 10px auto;
}