@media screen and (max-width: 700px){
    body {
        min-width: 250px;
        width: 100%;
    }
    div.site {
        width: 99%;
    }
}
@media screen and (max-width: 568px){

    div.banner a.title {
        font-size: 400%;
    }
    .header .navigation {
        font-size: 120%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 250px;
        margin: 0 auto;
        letter-spacing: 1px;
    }


    div.site {
        width: 96%;
    }

    table {
        width: 95%;
    }
    th {
        display: none;
    }
    td {
        display: block;
        padding-top: 15px;
        padding-left: 10px;
        padding-bottom: 5px;

    }
    tr:nth-child(odd) {
        background-color: #eeeeef;
    }
    body > div.site > div > div > table:nth-child(7) > tbody > tr:nth-child(2) > td:nth-child(3) {
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }
    td:nth-of-type(1):before {
        content: "When:";
        margin-right: 15px;
        font-weight: bold;
    }
    td:nth-of-type(2) {
        padding-left: 77px;
    }
    td:nth-of-type(3):before {
        content: "What:";
        margin-right: 15px;
        font-weight: bold;
    }


    .footer {
        height: auto;
        font-size: 0.9em;
    }
    .footer .navigation {
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 250px;
        margin: 0 auto;
        letter-spacing: 1px;
    }

}