table {
    border: 1px solid #bfbfbf;
    width: 400px;
    height: 200px;
    min-width: 400px;
    min-height: 200px;
    font-family: Tahoma;
}
thead {
    font-size: 2em;
    font-weight: bolder;
    text-align: left;
    padding-top: 0;
    line-height: 80%;
}
thead th {
    padding-bottom: 1em;
}
.bold {
    font-weight: bold;
}
tbody td {
    padding-left: 0.7em;
    padding-right: 0;
    padding-bottom: 0;
}
tbody td p {
    margin-bottom: 1px;
    padding-top: 0;
    margin-top: 1px;
}