#mainDiv {
    width: 380px;
    min-height: 180px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}
#logo {
    background: url("images/wordpress-logo.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 35px;
    height: 70px;
}
#chooseFileDiv {
    width: 400px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}
.upload {
    cursor: pointer;
}
#searchDiv {
    height: 50px;
    width: 100%;
    /*text-align: center;*/
    /*vertical-align: middle;*/
}
#wordPressBtn {
    background: url("images/wordpress_button.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: bottom;
    border: none;
    cursor: pointer;
}
#search {
    width: 180px;
    height: 30px;
}
#searchSpan {
    vertical-align: bottom;
}
