@model Snippy.App.Models.ViewModels.LabelInfoViewModel

<li class="list-group-item">
    <span class="badge">@Model.SnippetsCount</span>
    @Html.ActionLink(Model.Text, "Details", "Labels", new { id = @Model.Id, area = "" }, null)
</li>

