
@model Template.App.Models.ViewModels.UserViewModel

<span class="photo">
    <img src="@Model.PhotoUrl" alt="User profile image" />
</span>
<span class="info">
    <p>Username: <strong>@Model.UserName</strong></p>
    <p>Email: <strong>@Model.Email</strong></p>
</span>
