@font-face {
    font-family: Animated;
    src: url('../images/Animated.ttf');
}
html,div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
#wrapper {
    width: 900px;
    height: 600px;
    border: 1px solid;
    position: relative;
    background: radial-gradient( at 20% 20%,#ffffff,#f9f7b4,#fefef1,#c5daf1,#78ade2,#5da3e0,#2891dd,#007edb,#0072db,#0064db );

}
#background {
    position: absolute;
    width: 900px;
    height: 600px;
    border: 1px solid;
    background-image: url("../images/HawaiiBackground.png");
    z-index: 500;
}
#wrapper p {
    /*width: 300px;*/
    font-family: Animated;
    color: #febc20;
    font-size: 45px;
    float: right;
    margin-right: 30px;
    line-height: 25%;
}
#nakov {
    background-image: url("../images/NakovHula.png");
    width: 215px;
    height: 400px;
    z-index: 1000;
    left: 45%;
    bottom: 7%;
    position: absolute;
}
#alex {
    background-image: url("../images/AlexHula.png");
    width: 238px;
    height: 375px;
    z-index: 1500;
    left: 54%;
    bottom: 4%;
    position: absolute;
}
#vladoK {
    background-image: url("../images/VladoKHula.png");
    width: 213px;
    height: 350px;
    z-index: 1000;
    left: 74%;
    bottom: 3%;
    position: absolute;
}
#tedi {
    background-image: url("../images/TediHula.png");
    width: 156px;
    height: 220px;
    z-index: 1500;
    left: 28%;
    bottom: 3%;
    position: absolute;
}
#petia {
    background-image: url("../images/PetiaHula.png");
    width: 238px;
    height: 375px;
    z-index: 1200;
    left: 20%;
    bottom: 5%;
    position: absolute;
}
#vladoG {
    background-image: url("../images/VladoGHula.png");
    width: 265px;
    height: 350px;
    z-index: 1000;
    left: 4%;
    bottom: 5%;
    position: absolute;
}