html {
    box-sizing: border-box;
}
#modelsItems {
    float: left;
}
.container {
    width: 840px;
    height: 470px;
    /*border: 1px solid;*/
    margin: 0 auto;
    overflow: hidden;
}
.nested {
    margin: 10px;
    border: 1px solid;
    height: 90%
}
.mainContentTitle {
    margin: 0;
    /*border: 1px solid;*/
    height: 30%;
    position: relative;
    padding-left: 10px;
    text-align: left;
}
#imageItem1 {
    background: url("images/MacBook_Air_11_6.jpg");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
#imageItem2 {
    background: url("images/MacBook_Air_11_6.jpg");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
#imageItem3 {
    background: url("images/MacBook_Air_13_3.jpg");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
#imageItem4 {
    background: url("images/MacBook_Air_13_3.jpg");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
#imageItem5 {
    background: url("images/MacBook_Air_11_6.jpg");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
#imageItem6 {
    background: url("images/MacBook_Pro_13_3.jpg");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
.mainContentImage {
    margin: 0;
    height: 50%;
    position: relative;
}
.mainContentPrice {
    margin: 0;
    /*border: 1px solid;*/
    height: 17%;
    position: relative;
}
button {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    /*border: 1px solid;*/
    cursor: pointer;
    background: none;
    outline: none;
    display: inline-block;
    float: left;

}
button:focus {
    border: 3px solid brown;

}
.picture {
    border-radius: 10px 10px 0 10px;
    border-color: #def0fb;
}
.priceDiv {
    width: 65%;
    height: 100%;
    border: 2px #2c425a;
    border-radius: 10px 0px 0px 0px;
    background-color: #2c425a;
    color: #ffffff;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}
h1, h4, p {
    color: #293d57;
    margin: 0;
    padding: 0;
}
h4 {
    margin-top: 5px;
}
h1 {
    margin: 20px 0 10px 20px;
}
#modelPrices {
    width: 220px;
    min-height: 500px;
    font-size: 15px;
    color: #2c425a;
    float: right;
    background-color: #f7fcff;
    border: 2px #e1f2fb;
    margin: 0;
    padding: 0;
}
input {
    display: block;
    width: 100%;
    /*margin-left: 5px;*/
}
.leftLabel {
    float: left;
    /*margin-left: 5px;*/
}
.rightLabel {
    float: right;
    /*margin-right: 5px;*/
}
#modelPrices p {
    text-align: center;
    font-size: 1.4em;
}
.pricesDiv {
    padding: 10px 5px 0 5px;
    display: block;
}
