table {
    border: 1px solid;
    min-width: 500px;
    min-height: 300px;
    font-family: Tahoma;
}
thead {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    /*padding-top: 0;*/
    /*line-height: 80%;*/
}
th {
    padding: 5px;
}
tr[id="firstLine"] {
    font-size: 1.0em; !important;
    font-weight: bold; !important;
    text-align: center; !important;
}
td,th {
    border: 1px solid;
}
tr.normal:nth-child(1){
    width: 10%;
    text-align: left;
}
tr.normal:nth-child(2) {
    width: 35%;
    text-align: left;
}
tr.normal:nth-child(3) {
    width: 35%;
    text-align: left;
}
tr.normal:nth-child(4) {
    width: 20%;
    text-align: left;
}
tr.normal td {
    padding-left: 3px;
}
tfoot td {
    text-align: right;
    padding: 5px;
}