@model Contests.App.Models.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "User page";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            @if (Request.IsAuthenticated && this.User.Identity.Name == @Model.User.UserName)
            {
                @Html.Partial("Partial/UserInfo", @Model.User);
            }
        </div>
        <div class="span10">
            <h2>@Model.User.UserName</h2>
            <hr />
        </div>
    </div>
</div>





@section scripts{
    <script src="~/Scripts/twitter.js"></script>
    <script src="~/Scripts/infiniteScroll.js"></script>

    <script type="text/javascript">
        var prepend = true;
        $(function () {
            $("div#loading").hide();
        });
        var moreRowsUrl = ""; //the URL to your ActionMethod
        //var moreRowsUrl = ' Url.RouteUrl("CustomerList")'; //if you have a route defined, you can use an Html helper like Url.RouteUrl
        $(window).scroll(scrollHandler);

    </script>
}