html {
    font-family: Arial;
    font-size: 20px;
    /*padding: 0;*/
    /*margin: 0;*/
}
table {
    border: 1px solid;
}
td {
    border: 1px solid;
    width: 100px;
    height: 100px;
    padding: 5px 7px 5px 5px;
}
.myButton {
    width: 100%;
    height: 100%;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f1f1f1), color-stop(1, #cecece));
    background:-moz-linear-gradient(top, #f1f1f1 5%, #cecece 100%);
    background:-webkit-linear-gradient(top, #f1f1f1 5%, #cecece 100%);
    background:-o-linear-gradient(top, #f1f1f1 5%, #cecece 100%);
    background:-ms-linear-gradient(top, #f1f1f1 5%, #cecece 100%);
    background:linear-gradient(to bottom, #f1f1f1 5%, #cecece 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#cecece',GradientType=0);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #989898;
    display:inline-block;
    text-decoration:none;
    cursor:pointer;
    color:#1c3fe7;
    text-align: center;
    letter-spacing: -1px;
    padding-top: 30px;
    /*font-family:arial;*/
    /*font-size:19px;*/
    text-decoration:none;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
    background-color:#bab1ba;
}
.myButton:active {
    position:relative;
    top:1px;
}
.innerTable {
    padding-top: 0;
    padding-bottom: 0;
}
.innerTable table {
    border: none;
}
.inner {
     height: 50px; !important;
     margin: 0; !important;
     padding: 0; !important;
    border: none;
    letter-spacing: -1px;
     font-size: 0.7em;
     text-align: center;
 }
.inner .myButton {
    padding-top: 15px;
}
thead .myButton {
    font-size: 1.4em;
    font-weight: bolder;
}
#beer .myButton{
    text-align: right;
}


