html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main {
    background-color: #00923e;
    width: 800px;
    height: 290px;
    min-width: 500px;
    min-height: 180px;
    margin: 0 auto;
    padding: 14px;
    padding-bottom: 18px;

}
.inner {
    border: 2px solid;
    border-radius: 18px;
    width: 800px;
    height: 290px;
    min-width: 500px;
    min-height: 180px;
    margin: 0 auto;
    overflow: hidden;
}
table.fixed {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: hidden;
    font-family: Tahoma;
    font-size: 19px;
}
table.fixed td, table.fixed th {
    border: 2px solid;
}
table.fixed td:nth-of-type(1), table.fixed th:nth-of-type(1) {
    width: 16%;
    text-align: right;
}
table.fixed td:nth-of-type(2), table.fixed th:nth-of-type(2) {
    width: 10%;
    text-align: center;
}
table.fixed td:nth-of-type(3), table.fixed th:nth-of-type(3) {
    width: 18.4%;
    text-align: left;
}
table.fixed td:nth-of-type(4), table.fixed th:nth-of-type(4) {
    width: 9.6%;
    text-align: center;
}
table.fixed td:nth-of-type(5) {
    width: 14%;
    text-align: right;
    padding-right: 6px;
}
table.fixed td:nth-of-type(6) {
    width: 12%;
    text-align: center;
    font-size: 0.75em !important;
}
table.fixed td:nth-of-type(7) {
    width: 15%;
    text-align: left;
    padding-left: 6px;
}
table.fixed td:nth-of-type(8) {
    text-align: center;
}

table.fixed th {
    font-size: 1.1em;
    font-weight: 800;
    background: #f8c711;
}
table.fixed td {
    font-size: 0.8em;
    font-weight: 500;
}

table.fixed tr:nth-child(even) {
    background: #fff;
}
table.fixed tr:nth-child(odd) {
    background: #c8c8c8;
}
img.left {
    margin: 1px 3px -5px 3px;
}
img.right {
    margin: 1px 3px -5px 3px;
}
select:disabled {
    background-color: #dcdcdc;
    color: #F04B33;
    font-weight: bold;
}
select {
    background-color: #ffffff;
    color: #1CAE59;
    font-weight: bold;
    height: 75%;
    width: 38%;
}
input[type=button] {
    font-weight: 700;
    color: #ffffff;
    width: 80%;
    height: 85%;
    border-radius: 100%;
    font-size: 8px !important
}
.red {
    background-color: #ff0000;
}
.green {
    background-color: #008000;
}