html,div,p,input,a,h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", "sans-serif";
}
.wrapper {
    width: 550px;
    height: 200px;
    border-top: 5px dotted yellow;
    border-right: 10px solid #008000;
    border-bottom: 10px double blue;
    border-left: 5px dashed #ff0000;
    box-shadow: 15px 15px 5px #3f3f3f;
}
h1 {
    text-align: center;
    font-size: 2.2em;
    line-height: 230%;
    font-weight: normal;
    text-shadow: 7px 8px 8px #d3d3d3;
}
.wrapper #borders {
    border: 2px solid #ff0000;
    box-shadow:
        0 0 0 2px yellow,
        0 0 0 4px green,
        0 0 0 6px blue;
    height: 80px;
    margin-left: 25px;
    margin-right: 25px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    text-align: center;
}
.wrapper p {
    text-align: center;
    font-size: 1.1em;
    line-height: 270%;
    font-weight: normal;
    text-shadow: 7px 12px 8px #d3d3d3;
}
input {
    width: 170px;
    height: 22px;
    border-style: outset;
    background-color: #d8921a;
    border-color: #ffa600;
    font-weight: bold;
}
#small-circle {
    bottom: 28%;
    left: 77%;
    width: 27px;
    height: 27px;
    border-radius: 100%;
    background-color: #a6a7a7;
    z-index: 9999;
    margin: 0;
    position: relative;
}
#small-circle .inner-div {
    position: absolute;
    top: 20%;
    /*right: 3px;*/
    left: 20%;
    /*bottom: 3px;*/
    border: 2px dashed #ffffff;
    width: 62%;
    height: 62%;
    border-radius: 100%;
    margin: 0;
 }
.transperant {
    opacity: 0.8;
}

#big-circle {
    bottom: 62%;
    left: 85%;
    width: 37px;
    height: 37px;
    border-radius: 100%;
    background-color: #a6a7a7;
    z-index: 9999;
    margin: 0;
    position: relative;
}
#big-circle .inner-div {
    position: absolute;
    top: 14%;
    /*right: 3px;*/
    left: 16%;
    /*bottom: 3px;*/
    border: 2px dashed #ffffff;
    width: 72%;
    height: 72%;
    border-radius: 100%;
    margin: 0;
}
#biggest-circle {
    bottom: 105%;
    left: 93%;
    width: 110px;
    height: 60px;
    background-color: #a6a7a7;
    z-index: 9999;
    margin: 0;
    position: relative;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}
#biggest-circle .inner-div {
    position: absolute;
    top: 9%;
    /*right: 3px;*/
    left: 5%;
    /*bottom: 3px;*/
    border: 2px dashed #ffffff;
    width: 92%;
    height: 85%;
    margin: 0;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #ffffff;
    font-weight: bolder;
    font-family: Tahoma;
    font-size: 95%;
    line-height: 130%;
    padding-top: 4px;
}
