table {
    border: 1px solid;
    min-width: 500px;
    min-height: 300px;
    font-family: Tahoma;
}
td {
    border: 1px solid;
}
#outer td:nth-child(1) {
    width: 40%;
    padding: 15px;
}
#outer td:nth-child(2) {
    width: 60%;
    padding: 15px;
}
img {
    width: 100%;
}
#inner td {
    font-size: 6.5em;
}