@using PagedList.Mvc;
@model PagedList.IPagedList<SportSystem.App.Models.ViewModels.MatchViewModel>
@{
    ViewBag.Title = "All matches";
}


@if (@Model.Any())
{
    @Html.DisplayForModel();
    @Html.PagedListPager(Model, page => Url.Action("Index", "Matches", new { page }))
}
else
{
    <div class="jumbotron info">
        <h2>No matches</h2>
    </div>
}



