
@font-face {
    font-family: Facebook;
    src: url(http://www.mediafont.com/storage/contents/11/font.eot); /* IE */
    src: local(‘Facebook Letter Faces’), url(http://www.mediafont.com/storage/contents/11/FACEBOLF.OTF); /* non-IE */
}
html {
    box-sizing: border-box;
    font-size: 25px;
    font-family: Facebook;
}
.white {
    color: #ffffff;
}
.tahoma {
    font-family: Tahoma;
}

.container {
    width: 800px;
    min-height: 500px;
    margin: 0 auto;
    background-color: #3b5997;
}
header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: center;
}
header h1, header h3, header p {
    margin: 0;
}
header h1 {
    font-size: 4em;
    letter-spacing: 4px;
    font-weight: 100;
}
header h3 {
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 5px;
}
header p {
    font-size: 0.6em;
    font-weight: bold;
}
footer {
    width: 100%;
    /*height: 100px;*/
    overflow: hidden;
    padding-top: 3%;
    padding-bottom: 3%;
}
#tradeMark {
    font-size: 0.3em;
    vertical-align: text-bottom;
}
#noneImportantInfo {
    display: inline-block;
    width: 300px;
    padding-left: 2%;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 0.6em;
}
#importantInfo {
    display: inline-block;
    width: 450px;
    padding-left: 1%;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 0.6em;
}
#noneImportantInfoFieldset, #importantInfoFieldset {
    border-radius: 5px;
    border-color: #ffffff;
}
legend {
    text-align: center;
    font-weight: bold;
}
#firstName, #lastName, #email, #telNumber, #password, #website {
    display: inline-block;
    width: 44%;
    height: 25px;
    margin: 3px 3px 3px 5px;
    border-radius: 5px;
    border: none;
}
#birthdayDiv {
    margin: 3px 3px 3px 5px;
}
#dateTimeInput {
    margin-top: 5px;
    height: 30px;
    width: 85%;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}
#gender li {
    display: inline-block;
    padding-right: 6%;

}
#gender ul {
    padding: 0;
}
#gender input, #gender label {
    cursor: pointer;
    margin-right: 0px;
}
#country, #village, #district, #street, #color, #waterMeterNumber, #AuntPantiesSize {
    display: inline-block;
    width: 30%;
    height: 25px;
    margin: 3px 3px 3px 5px;
    border-radius: 5px;
    border: none;
}
#country option:first-child, #AuntPantiesSize option:first-child {
    display: none;
}
#strNumber, #floorNumber, #appNumber {
    display: inline-block;
    width: 15%;
    height: 25px;
    margin: 3px 3px 3px 5px;
    border-radius: 5px;
    border: none;
}
label {
    margin: 5px 0px 5px 5px;
}
#moreInfo {
    /*display: inline-block;*/
    width: 95%;
    height: 50px;
    margin: 6px 3px 3px 5px;
    border-radius: 5px;
    border: none;
}
article {
    vertical-align: top;
}
button {
    height: 55px;
    border-color: #dddddd;
    color: #3b5997;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
#clearBtn {
    display: inline-block;
    width: 295px;
    /*padding-left: 2%;*/
    font-family: Tahoma;
    margin-left: 2%;

}
#registerBtn {
    display: inline-block;
    width: 445px;
    /*padding-left: 2%;*/
    font-family: Tahoma;
    margin-left: 2%;
}